<h1> Flexible Payment </h1>
A <%=@user_number2 %> year loan of <%= number_to_currency(@user_number3, precision:0) %>, with an annual interest rate of <%=@user_number1 %>%, requires a monthly payment of <%= number_to_currency(@payment) %>.
