<h1>Monthly Payment Calculation</h1>

<form action="/payment/results">
  <div>
    <label for="APR">
      APR
    </label>

    <input type="text" name="user_number" id="APR">
  </div>

  <div>
    <label for="number-of-years">
      Number of years
    </label>

    <input type="text" name="user_number" id="number-of-years">
  </div>

  <div>
    <label for="principal">
      Principal
    </label>

    <input type="text" name="user_number" id="Principal">
  </div>

  <button>Calculate monthly payment</button>
</form>
