<h1>Square Root Calculation</h1>

<form action="/square_root/results">
  <div>
    <label for="square root">
      Enter a number
    </label>

    <input type="text" name="user_number" id="square root">
  </div>
  <button>Calculate square root</button>
</form>
