<h1>Square Calculation</h1>

<form action="/square/results">
  <div>
    <label for="square">
      Enter a number
    </label>

    <input type="text" name="user_number" id="square">
  </div>
  <button>Calculate square</button>
</form>
